
.cart {
  background: none;
  height: 100vh;
  overflow-y: scroll;
  position: relative;
  width: 100vw;
}

.container {
  background: var(--bright-color);
  border-radius: 5px;
  left: 50%;
  margin: 0 auto;
  max-width: 800px;
  min-width: 300px;
  padding: 40px 40px 80px 40px;
  position: absolute;
  top: 10%;
  transform: translate(-50%, 0);
  width: 100%;
}

.container h1 {
  margin: 0 0 20px 0;
}

.container > div {
  background: var(--dark-color);
  overflow: hidden;
  padding: 10px;
}

.container > div div {
  display: flex;
  justify-content: space-between;
}

.container > div button {
  background: var(--brightest-color);
  border: 0;
  color: var(--text-color);
  float: right;
  font-weight: bold;
  margin-top: 20px; 
  padding: 10px 45px;
}

.container > div button:hover {
  background: #666;
}

.cart article {
  background: var(--dark-color);
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  padding: 10px;
  width: 100%;
}

.cart article img {
  width: 150px;
}

.cart article > p {
  padding-top: 35px;
  margin: 0 auto 0 15px;
}

.cart article > div {
  padding-top: 22px;
}

.cart article button {
  background: none;
  border: 0;
  color: #999;
  text-decoration: underline;
}

.cart article button:hover {
  color: var(--text-color);
}

@media all and (max-width: 500px) {
  .container {
    padding: 20px 0px 40px 0px;
  }
  .container h1 {
    font-size: 18px;
    text-align: center;
  }
  .cart article img {
    width: 100px;
  }
  .cart article > p {
    padding-top: 10px;
  }
  .cart article > div {
    padding-top: 10px;
  }
  .cart article button {
    margin-top: 5px;
  }
  .container > div button {
    margin-top: 20px; 
    padding: 15px 0;
    width: 100%;
  }
}