

.main {
  padding-top: 120px;
}

/* List */
.list {
  padding: 0 40px;
}

.list article {
  cursor: pointer;
  margin: 0 auto 40px auto;
  max-width: 700px;
  position: relative;
  width: 100%;
}

.list article > div {
  background: #444;
  padding: 5px;
  text-align: right;
  overflow: hidden;
  margin-top: -5px;
}

.list article > div:first-of-type {
  padding-bottom: 0;
}

.list article > div:first-of-type img {
  width: 100%;
}

.list article > div:last-of-type img {
  float: left;
  max-width: 200px;
  width: 100%;
}

.list article > div > div {
  margin: 7px 5px 5px 0;
}

.list article > div > div:first-of-type {
  font-weight: bold;
}

.list article > div > div button {
  font-size: 12px;
  margin: 5px 0 0 10px;
  padding: 2px 4px;
}

.list article:hover .tooltip {
  display: block;
  opacity: 1;
  transition: display 1s, opacity 1s linear;
}

.tooltip {
  width: 120px;
  background-color: gray;
  color: #fff;
  display: none;
  font-size: 12px;
  opacity: 0;
  max-width: 450px;
  padding: 10px 20px 120px 20px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 102%;
  width: 100%;
}

.tooltip::after {
  content: "";
  position: absolute;
  top: 10%;
  right: 100%;
  margin-top: -5px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent gray transparent transparent;
}

.tooltip img {
  margin: 10px 0;
  width: 100%;
}

.tooltip strong {
  font-size: 16px;
}

.tooltip p {
  font-size: 14px;
}


/* Slideshow container */
.slideshow {
  background: black;
  height: 230px;
  margin: 5px 0;
  overflow: hidden;
}

/* Hide the images by default */
.slides {
  display: none;
}

.slides img {
  margin: 0;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


































/*
.list article header {
  float: left;
  margin-right: 10px;
  width: 350px;
}

.list article header h1 {
  font-weight: lighter;
  margin-bottom: 15px;
}

.list article header img {
  width: 100%;
}

.list article header p {
  font-size: 14px;
  margin: 10px 0;
}

.list article header div {
  font-size: 12px;
  margin: 10px 0;
}

.list article header div button[itemprop=genre] {
  background: gray;
  border: 0;
  border-radius: 2px;
  color: white;
  font-size: 12px;
  margin-right: 2px;
  padding: 2px 4px;
}

.content {
  margin-left: 360px;
  padding-top: 42px;
  width: 590px;
}

.content iframe {
  border: 0;
  width: 100%;
}

.content button {
  background: green;
  border: 0;
  border-radius: 5px;
  color: white;
  float: right;
  font-size: 18px;
  margin-top: 10px;
  padding: 5px 10px;
}

.content button:hover {
  background: lightgreen;
}
*/


/* End List */

.list-item {}