
.main {
  padding-top: 110px;
}

.filters {
  margin: 0 auto 20px auto;
  max-width: 700px;
  width: 100%;
}

.filters div {
  background: #444;
  border: 1px solid #666;
  border-radius: 20px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  margin: 0 10px 0 0;
  padding: 5px 15px;
}

/* List */
.list {
  padding: 0 40px;
}

.list article {
  margin: 0 auto 40px auto;
  max-width: 700px;
  position: relative;
  width: 100%;
}

.list article > figure {
  cursor: pointer;
  width: 100%;
}

.list article figure img {
  width: 100%;
}

.body {
  width: 100%;
  position: relative;
}

.body img {
  margin-left: 5px;
  max-width: 150px;
  width: 100%;
}

.text {
  float: right;
  margin-top: 10px;
}

.text p {
  
}

.text p:first-child {
  font-weight: bold;
}

.genre {
  position: absolute;
  bottom: 0;
  right: 0;
}

.genre button {
  background: none;
  border: 1px solid #666;
  color: white;
  font-size: 12px;
  margin: 0 0 0 10px;
  padding: 5px 10px;
}

.genre button:hover {
  background: #444;
}

.list article figure:hover + .tooltip {
  display: block;
  opacity: 1;
  transition: display 1s, opacity 1s linear;
}

.tooltip {
  width: 120px;
  background-color: gray;
  color: #fff;
  display: none;
  font-size: 12px;
  opacity: 0;
  max-width: 450px;
  padding: 10px 20px 120px 20px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 102%;
  width: 100%;
}

.tooltip::after {
  content: "";
  position: absolute;
  top: 10%;
  right: 100%;
  margin-top: -5px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent gray transparent transparent;
}

.tooltip img {
  margin: 10px 0;
  width: 100%;
}

.tooltip strong {
  font-size: 16px;
}

.tooltip p {
  font-size: 14px;
}


/* Slideshow container */
.slideshow {
  background: black;
  height: 230px;
  margin: 5px 0;
  overflow: hidden;
}

/* Hide the images by default */
.slides {
  display: none;
}

.slides img {
  margin: 0;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}






@media all and (max-width: 500px) {
  .list {
    padding: 0 20px
  }
  .list article > div:last-of-type img {
    max-width: 150px;
  }
}
