
.header {
  background: var(--light-color);
  display: flex;
  justify-content: space-between;
  padding: 0 25px 0 40px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.header a {
  color: var(--text-color);
  font-size: 32px;
  font-weight: lighter;
  text-decoration: none;
}

.header a img {
  width: 250px;
}

/* Search Form */
.form {
  display: flex;
  height: 33px;
  position: relative;
  margin: 10px 40px 0 165px;
  max-width: 800px;
  width: 100%;
}

.form input {
  background: #eee;
  border: 1px solid #ccc;
  border-right: 0;
  border-radius: 20px 0 0 20px;
  color: var(--text-color);
  font-size: 16px;
  outline: none;
  padding: 10px 20px;
  width: 100%;
}

.form input::placeholder {
  color: var(--text-color);
}

.form input:focus { 
  background: var(--main-color); 
}

.form button {
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 0 20px 20px 0;
  color: var(--text-color);
  width: 50px;
}

.form button:hover {
  background: var(--main-color);
}
/* End Search Form */


.nav {
  display: flex;
}

/* Buttons */
.home button,
.login button,
.cart button,
.sidebar button {
  background: var(--light-color);
  border: 0;
  color: var(--text-color);
  font-size: 22px;
  padding: 15px 15px 12px 15px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltiptext {
  background-color: var(--text-color);
  border-radius: 6px;
  color: var(--main-color);
  font-size: 12px;
  left: 50%;
  padding: 5px 0;
  position: absolute;
  text-align: center;
  top: 90%;
  margin-left: -45px;
  visibility: hidden;
  width: 90px;
  z-index: 1;
}

/* .tooltiptext::after {
  border-color: transparent transparent var(--text-color) transparent;
  border-style: solid;
  border-width: 5px;
  bottom: 100%;
  content: "";
  left: 50%;
  margin-left: -5px;
  position: absolute;  
} */

.tooltip:hover .tooltiptext {
  visibility: visible;
}
/* End Buttons */


@media all and (max-width: 1000px) {}

@media all and (max-width: 850px) {
  .form {
    margin: 13.8px 26px 0 40px;
  }
}

@media all and (max-width: 600px) {
  .header {
    padding: 0 20px;
  }
  .form {
    display: none;
  }
  .home,
  .login, 
  .cart {
    display: none;
  }
  .sidebar button {
    padding-right: 0;
  }
  .tooltiptext {
    display: none;
  }
}