
.header {
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: space-between;
  padding: 5px 40px;
  width: 100%;
}

.header h1 a {
  color: black;
  font-weight: lighter;
  text-decoration: none;
}

.header h1 a img {
  width: 250px;
  padding: 5px 0;
}


/* Search Form */
.form {
  position: relative;
  margin: 0 40px;
  max-width: 800px;
  width: 100%;
}

.form input {
  border: 1px solid gray;
  border-radius: 20px;
  font-size: 16px;
  margin-top: 5px;
  outline: none;
  padding: 10px 20px;
  width: 100%;
}

.form button {
  background: gray;
  border: 1px solid gray;
  border-radius: 20px;
  padding: 12px;
  position: absolute;
  right: 1px;
  top: 10px;
  width: 25px;
}
/* End Search Form */


.nav {
  display: flex;
}

.header button {
  background: none;
  border: 0;
}

/* Buttons */
.games {}

.login button,
.cart button {
  border: 1px dashed red;
  color: black;
  width: 50px;
  height: 50px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: blue;
  color: #fff;
  font-size: 12px;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 90%;
  left: 50%;
  margin-left: -60px;
}

.tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent blue transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
/* End Buttons */


.checkbox {}



@media all and (max-width: 500px) {
  .form {
    display: none;
  }
  .nav {
    display: none;
  }
}