
.game article {
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
}

.game article section {
  clear: both;
}

.header {
  position: relative;
}

.header h1 {
  font-weight: lighter;
  margin-bottom: 20px;
}

.header img {
  width: 100%;
}

.header video {
  border: 0;
  display: none;
  height: auto;
  width: 100%;
}

.header button {
  background: none;
  border: 0;
  color: white;
  cursor: pointer;
  filter: drop-shadow( 4px 4px 3px rgba(0, 0, 0, .7));
  font-size: 80px;
  left: 50%;
  position: absolute;
  top: 52%;
  transform: translate(-50%, -50%);
}


/* all this should be redone,
  make fonts large
  move devloper info to its own section
*/
.subheader {
  background: #444;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  padding: 10px;
}

.subheader p {
  color: #999;
  font-size: 12px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.subheader div button {
  background: none;
  border: 0;
  color: orange;
  font-size: 14px;
  margin-left: 5px;
}

.subheader span {
  font-size: 14px;
  margin-left: 5px;
  text-transform: capitalize;
}

.subheader div button:hover {
  text-decoration: underline;
}

.subheader div button::after {
  content: ",";
}

.subheader div button:last-of-type::after {
  content: ""
}

.subheader div:last-child button {
  background: forestgreen;
  border: 0;
  color: white;
  display: block;
  font-weight: bold;
  height: 40px;
  text-transform: uppercase;
  width: 200px;
}

.subheader div:last-child button:last-child {
  background: none;
  text-transform: capitalize;
  text-decoration: underline;
}
.subheader div:last-child button:last-child:hover {
  background: none;
}

.subheader div:last-child button:hover {
  background: darkgreen;
  text-decoration: none;
}

.purchase {
  margin: 20px 0;
}
.purchase button {
  background: forestgreen;
  border: 0;
  color: white;
  font-weight: bold;
  padding: 15px 0;
  width: 100%;
}


.tabs {
  overflow: hidden;
  background: #444;
}

.tabs button {
  background: #444;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tabs button:hover {
  background: #777;
}

.tabs button.active {
  background-color: #666;
}

.tabcontent {
  margin-bottom: 40px;
  min-height: 300px;
  overflow: hidden;
  padding: 15px;
}

.tabcontent > div {
  display: none;
}

.tabcontent h3 {
  margin-bottom: 15px;
}

.tabcontent h4 {
  margin-bottom: 10px;
}

.requirements > div:first-of-type {
  float: left;
}

.requirements > div:last-of-type {
  margin-left: 400px;
}

.tabcontent ul {
  list-style-type: none;
  font-size: 12px;
  margin: 10px 20px 10px 0;
  width: 375px;
}

.tabcontent ul li {
  margin-bottom: 10px;
}

.tabcontent ul li span {
  font-weight: bold;
  margin-right: 5px;
}