
.mobile {
  padding: 10px 0;
  border-bottom: 1px solid var(--brightest-color);
}

.mobile form {
  direction: ltr;
  display: flex;
  margin: 0 10px 10px 0;
}

.mobile form input {
  border: 0;
  outline: none;
  padding: 10px;
  text-align: left;
  width: 100%;
}

.mobile form button {
  background: var(--text-color);
  border: 0;
  color: #999;
  padding: 0 5px 0 5px;
  width: 30px;
}

.mobile button span {
  margin-left: 10px;
}

.view {
  display: flex; 
  direction: ltr;
}

.view button {
  width: 25px;
}

.sidebar {
  background: var(--light-color);
  direction: rtl;
  display: none;
  height: 100%;
  right: 0;
  padding: 63px 0 10px 10px;
  position: fixed;
  top: 0;
  width: 250px;
  z-index: 999;
}

.sidebar:hover {
  overflow-y: auto;
  padding-left: 7px;
}

.sidebar div div {
  border-top: 1px solid var(--brightest-color);
  padding: 10px 0;
}

.sidebar div div:first-of-type {
  border: 0;
}

.sidebar div div div {
  border-top: 0;
  color: #999;
  font-weight: bold;
  font-size: 14px;
  padding: 10px 10px;
  text-align: left;
  text-transform: uppercase;
}

.sidebar button {
  background: none;
  border: 0;
  color: var(--text-color);
  direction: ltr;
  display: block;
  font-size: 15px;
  padding: 14px 0 14px 20px;
  width: 100%;
  text-align: left;
}

.sidebar button:hover {
  background: var(--alt-color);
}



/* width */
.sidebar::-webkit-scrollbar {
  width: 3.5px;
}

/* Track */
.sidebar::-webkit-scrollbar-track {
  background: white; 
}
 
/* Handle */
.sidebar::-webkit-scrollbar-thumb {
  background: #555; 
}

/* Handle on hover */
.sidebar::-webkit-scrollbar-thumb:hover {
  background: #444; 
}